/* Глобальные стили приложения */
html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background-color: #f4f6f9;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}